.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: fit-content;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  padding: 10px;
  font-size: 28px;
}

.input {
  width: 100%;
  height: 50px;
  padding: 5px;
  text-align: end;
}

.numpad {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-auto-rows: 70px;
  margin-top: 10px;
}

.cell {
  padding: 5px;
}

.cell--large {
  height: 140px;
}

.key {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font: inherit;
  background: #ececec;
}

.key:active {
  filter: brightness(75%);
}

.key--important {
  color: #34aae7;
  background: rgba(171, 215, 255, 0.3);
}

.key--explicit {
  color: #fff;
  background: #34aae7;
}