<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="calculator">
    <input class="input"/>
    <div class="numpad">
      <div class="cell">
        <button class="key key--important clear-key">C</button>
      </div>
      <div class="cell">
        <button class="key key--important" writable>/</button>
      </div>
      <div class="cell">
        <button class="key key--important" writable>*</button>
      </div>
      <div class="cell">
        <button class="key key--important backspace-key">⌫</button>
      </div>
      <div class="cell">
        <button class="key" writable>7</button>
      </div>
      <div class="cell">
        <button class="key" writable>8</button>
      </div>
      <div class="cell">
        <button class="key" writable>9</button>
      </div>
      <div class="cell">
        <button class="key key--important" writable>-</button>
      </div>
      <div class="cell">
        <button class="key" writable>4</button>
      </div>
      <div class="cell">
        <button class="key" writable>5</button>
      </div>
      <div class="cell">
        <button class="key" writable>6</button>
      </div>
      <div class="cell">
        <button class="key key--important" writable>+</button>
      </div>
      <div class="cell">
        <button class="key" writable>1</button>
      </div>
      <div class="cell">
        <button class="key" writable>2</button>
      </div>
      <div class="cell">
        <button class="key" writable>3</button>
      </div>
      <div class="cell cell--large">
        <button class="key key--explicit equals-key">=</button>
      </div>
      <div class="cell">
        <button class="key" writable>%</button>
      </div>
      <div class="cell">
        <button class="key" writable>0</button>
      </div>
      <div class="cell">
        <button class="key" writable>.</button>
      </div>
    </div>
  </div>
</body>

</html>